{% load static %}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Конференции.РФ{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'booking/css/style.css' %}">
</head>
<body>
<header class="topbar">
  <a class="brand" href="{% url 'home' %}"><img src="../../static/booking/img/logotype (1).svg">Конференции.РФ</a>
  <nav class="nav">
    <a href="{% url 'home' %}">Главная</a>
    <a href="{% url 'rooms' %}">Помещения</a>
    {% if user.is_authenticated %}
      <a href="{% url 'dashboard' %}">Личный кабинет</a>
      <a href="{% url 'application_create' %}">Оформить заявку</a>
      {% if user.username == 'Admin26' %}<a href="{% url 'admin_panel' %}">Панель администратора</a>{% endif %}
      <a href="{% url 'logout' %}">Выход</a>
    {% else %}
      <a href="{% url 'login' %}">Вход</a>
      <a class="btn small" href="{% url 'register' %}">Регистрация</a>
    {% endif %}
  </nav>
</header>
<main class="container">
  {% if messages %}
    <div class="messages">
      {% for message in messages %}<div class="message {{ message.tags }}">{{ message }}</div>{% endfor %}
    </div>
  {% endif %}
  {% block content %}{% endblock %}
</main>
<footer class="footer">© Конференции.РФ</footer>
<script src="{% static 'booking/js/main.js' %}"></script>
</body>
</html>
